[Unit]
Description=notifying service test

[Service]
Type=notify
ExecStart=node /workspace/markus/kronos-service-systemd/build/notify-test-cli
TimeoutStartSec=30
Restart=always
